@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #11101c;
  --text1: rgba(17, 16, 28, 0.5);
  --dark-green: #103931;
  --light-green: rgba(16, 57, 49, 0.2);
  --font-family: 'Inter', sans-serif;
  --grey-bg: #f3f3f3;
  --grey-text: #8a8a89;
  --backdrop: rgba(11, 11, 11, 0.6);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 410px;
  margin: 0 auto;
  padding: 0;
}

.input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  width: 100%;
  height: 52px;
}

.green-button {
  background: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 30px;
  color: var(--background);
  transition: all 250ms ease-in-out;
}

.green-button:hover {
  background: var(--background);
  border: 1px solid var(--dark-green);
  color: var(--dark-green)
}

.backdrop {
  background: var(--backdrop);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

/* Loader */
.spinner {
  --clr: rgb(0, 113, 128);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: var(--clr);
  opacity: 0;
  animation: fade 1s ease-in-out infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.33s;
}

.dot-3 {
  animation-delay: 0.66s;
}

@keyframes fade {

  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}